extends includes/layout

block content
    .page(itemscope itemtype='http://schema.org/CreativeWork')
        h2.page-title!= page.title
        .masonry
            - var posts = site.posts.sort('date', -1).toArray()
            each post in posts
                if post.section == 'notes'
                    .masonry-item
                        .masonry-card
                            h3.masonry-title
                                a(href=url_for(post.path))= post.title || post.slug
                            if post.date
                                .masonry-meta= post.date.format('YYYY-MM-DD')
                            if post.excerpt
                                .masonry-excerpt!= post.excerpt
